{% schema %}
{
  "name": "Ajax Header",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Ajax Header",
      "category": "Custom"
    }
  ]
}
{% endschema %}


    {% stylesheet %}
        
    {% endstylesheet %}
    
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>

<nav>
    <div class="page-width">
        <div class="nav__container">
            <div class="nav__links">
                
            </div>
            <figure>
                <img src="" alt="">
            </figure>
            <div class="nav__icons">
                {% render 'header-search', input_id: 'Search-In-Modal' %}
            </div>
        </div>
    </div>
</nav>