{% schema %}
{
  "name": "call to action2",
  "settings": [],
  "presets": [
    {
      "name": "call to action 2",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .calltoaction2__container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  .calltoaction2__fig {
    width: 50%;
    height: auto;
  }

  .calltoaction2__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    background: var(--Emerald, #5b6240);
  }

  .calltoaction2__text {
    width: 50%;
    display: flex;
    padding: 57px 31px;
    flex-direction: column;
    border-radius: 5px;
    background: var(--Cream, #f3eee9);
    gap: 25px;
    justify-content: center;
  }

  .calltoaction2__header {
    color: var(--Text, #242424);
    font-family: Glorify;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .calltoaction2__para {
    color: var(--Text, #242424);
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .calltoaction2__button {
    display: flex;
    max-width: 200px;
    padding: 15.815px 29.37px;
    justify-content: center;
    align-items: center;
    border-radius: 5.648px;
    background: var(--Emerald, #5b6240);
    color: var(--Cream, #f3eee9);
    font-family: Glorify;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
{% endstylesheet %}

<section id="call_to_action2">
  <div class="page-width">
    <div class="calltoaction2__container">
      <figure class="calltoaction2__fig">
        <img
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0550/8261/4884/files/calltoaction.jpg?v=1700705661"
          alt=""
          class="calltoaction2__img"
        >
      </figure>
      <div class="calltoaction2__text">
        <h2 class="calltoaction2__header">Embrace the Revolution of Science-Driven Beauty.</h2>
        <p class="calltoaction2__para">
          Our technology is backed by over 30 published, peer reviewed clinical studies that validate our technology and
          support our clinical claims and safety information. A selection of clinical studies and papers are available
          to read here.
        </p>
        <a class="calltoaction2__button" href="/">VIEW COLLECTION</a>
      </div>
    </div>
  </div>
</section>
