{% schema %}
{
  "name": "landing hero",
  "settings": [],
  "presets": [
    {
      "name": "landing hero",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% javascript %}
{% endjavascript %}
{% stylesheet %}
  #landing {
    background: url('https://cdn.shopify.com/s/files/1/0550/8261/4884/files/1080pheroimg_1_2_-min.jpg?v=1700974972') no-repeat
      center center;
    background-size: cover;
    width: 100%;
    height: 541px;
    position: relative;
  }

  .landing__text--container {
    color: #fff;
    max-width: 405px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #413e3000;
    border-radius: 427px;
    backdrop-filter: blur(3px);
  }

  .landing__title {
    color: var(--White, #fff);
    font-family: Glorify;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 19px;
  }

  .landing__para {
    color: var(--White, #fff);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 19px;
  }

  .landing__icon--container {
    display: flex;
    margin-bottom: 38px;
  }

  .icon__container {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .icon__span {
    color: #fff;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .landing__button {
    display: flex;
    max-width: 225px;
    padding: 14px 26px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--Cream, #f3eee9);
    color: #36312b;
    font-family: Glorify;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
  }

  @media screen and (max-width: 550px) {
    #landing {
      background: url('https://cdn.shopify.com/s/files/1/0550/8261/4884/files/herosmall-img.jpg?v=1700798842') no-repeat
        center center;
        height: 568px;
    }

    .landing__text--container {
      backdrop-filter: blur(0px);
      max-width: none;
      position: static;
      transform: translateY(0%);
      top: 0;
      width: 100%;
      padding: 28px 14px;
    }

    .landing__title {
      color: var(--Cream, #f3eee9);
      font-family: Glorify;
      font-size: 40.624px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 12.85px;
    }

    .landing__button {
      max-width: 100%
    }

    .landing__para {
      color: var(--Cream, #f3eee9);
      font-family: Open Sans;
      font-size: 13.541px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
{% endstylesheet %}

<section id="landing">
  <div class="page-width">
      <div class="landing__text--container">
        <h1 class="landing__title">Where Beauty Tech Meets Home Comfort</h1>
        <p class="landing__para">
          Discover KOUIR's advanced beauty devices for at-home salon treatments. Our user-friendly tech ensures
          effortless, professional skincare.
        </p>
        <div class="landing__icon--container">
          <div style="border-right: 1px solid white; padding-right: 14px; " class="icon__container">
            <img
              class="icon__img"
              src="https://cdn.shopify.com/s/files/1/0550/8261/4884/files/scientific.svg?v=1700195204"
               alt="Glass tube"
            >
            
            <span class="icon__span">Proven by <br/> Scientific Research</span>
          </div>
          <div style=" padding-left: 14px;" class="icon__container">
            <img
              class="icon__img"
              src="https://cdn.shopify.com/s/files/1/0550/8261/4884/files/quality.svg?v=1700195413"
              alt="Quality Badge"
            >
            <span class="icon__span">Premium Quality <br/> & Potency</span>
          </div>
        </div>
        <a class="landing__button" href="/">Shop Now</a>
    </div>
  </div>
</section>
